// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import 'bootstrap/scss/bootstrap';

/* resources/css/app.css o public/css/styles.css */

        body {
            background-color: #f2f2f2;
            /* gris claro */
        }

#FondoDeInicio {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../storage/images/FondoPaginaWeb.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Asegura que el fondo esté detrás del contenido */
}


